* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav-1 {
    position: sticky;
    top: 0px;
    z-index: 10;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    font-weight: 500;
    font-size: 1.2rem;

}

.nav-1 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 0.5rem;
}

.nav-2 {
    background-color: #3b3b79;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-2 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style-type: none
}

.nav-2 ul a {
    display: inline-block;
    padding: 0.8rem 1rem;
    color: aliceblue;
    text-decoration: none;
    font-size: 1.07rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.3rem;

}

#glob {
    border-radius: 50%;
    animation: blinking 5s 0s infinite;
}

@keyframes blinking {
    0% {
        border: 3px solid transparent;
        
    }

    50% {
        border: 3px solid red;

    }

    100% {
        border: 3px solid transparent;
        
    }
}





#btn-1 {
    background-color: #dea73c;
}

#btn-2 {
    background-color: #d84148;
}

.nav-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #e4dcdd;
    /* background-color: #dea73c; */
}

.nav-3 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    gap: 0.5rem;
    list-style-type: none;
}

.nav-3 ul a {
    color: white;
    background-color: black;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 1s ease-in-out;

}

.nav-3 ul a:hover {
    background-color: red;
}

.first-ul>li:last-child>a {
    background-color: #d84148;
}

.thrid-ul>li:first-child>a {
    background-color: #d84148
}

.thrid-ul>li:first-child>a:hover,
.first-ul>li:last-child>a:hover {
    background-color: black;
}

.nav-4 {
    position: sticky;
    top: 42px;
    z-index: 10;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #e4dcdd;

}

.nav-4 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    list-style-type: none;
    padding: 1rem;

}

.nav-4 ul li input {
    outline: none;
    border: 2px solid #909090;

    border-radius: 1rem;
    font-style: italic;
    font-size: 1rem;
    padding: 0.5rem 0.4rem 0.5rem 0.7rem;
}

.nav-4 input:focus {
    outline: #909090;
    border: 2px solid #909090;
}

.inpt {

    position: relative;
}

.inpt i {
    position: absolute;
    right: 5%;
    top: 30%;
}

.inpt input:not(:placeholder-shown)~i {
    opacity: 0;
}

.inpt input:hover~i {
    opacity: 0;
}

.inpt input:placeholder-shown~i {
    opacity: 1;
}

.nav-4 a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #504f4f;

}

.nav-4 a:hover {
    color: red;
}

#n-btn {
    background-color: #d84148;
    border-radius: 2rem;
    color: white;
    padding: 0.6rem 1.2rem;
    font-size: 1.2rem;
    transition: background-color 0.50s ease-in-out;

}

#n-btn:hover {
    background-color: #1b182b;
}

.Hero-image-section {
    width: 100%;
    height: 70vh;
    background-image: url(./Assests/Hero-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 8px red;
    position: relative;
    top: 0;
    z-index: 2;
}

.Hero-content {
    width: 80%;
    /* height: 80%; */
    /* background-color: #909090; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    animation: animator 3s ease-in-out infinite;
}

@keyframes animator {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}
















.first-h1 {
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;

    padding: 0.3rem 0rem;

}

.second-h1 {
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 650;
    padding: 0.3rem 0rem;

}

.third-h1 {
    padding: 0.3rem 0rem 1.5rem 0rem;

    font-weight: 500;
    text-transform: uppercase;

}

.Hero-content button {
    background-color: transparent;
    border: 2px solid black;
    padding: 0.7rem 1.7rem;
    font-size: 1.2rem;
    font-weight: 500;
    transition: background-color 0.50s ease-in-out;

}

.Hero-content button:hover {
    background-color: black;
    color: white;
}

.hero-media-section {
    width: 100%;
    height: 80vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-content {
    width: 80%;
    height: 90%;
    /* background-color: #909090; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-1 {
    width: 40%;
    height: 100%;
    /* background-color: #dea73c; */
}

.card-image {
    width: 100%;
    height: 45%;
    background-color: #c54c4c;
}

.card-image img {
    width: 100%;
    height: 100%;
}

.card-content {
    width: 100%;
    height: 56%;
    background-color: rgb(3, 3, 3);

}

.card-content h1 {
    padding: 0.8rem 0rem 0rem 0rem;
    color: white;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
}

.card-content p {
    color: white;

    padding: 1rem 0rem 1rem 0rem;
    line-height: 1.5rem;
    text-align: left;
}

.card-content button {
    background-color: red;
    padding: 0.7rem 1.7rem;
    font-size: 1.2rem;
    border: 2px solid red;


    color: white;
    font-weight: 500;
    transition: background-color 1s ease-in;
}

.card-content button:hover {

    background-color: #1b182b;
}

.media-second-section {
    width: 60%;
    height: 100%;

    /* background-color: #d84148; */
}

.card-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    /* background-color: #504f4f; */
}

.card-row ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    /* background-color: #dea73c; */
    gap: 1rem;
}

.card-row ul a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 0.7rem 3rem;
    background-color: #333333;
    display: inline-block;
    transition: background-color 0.5s ease-in;
}

.card-row ul li:first-child>a {
    background-color: #d84148;
    transition: backgeound-color 0.5s ease-out;
}

.card-row ul a:hover {
    background-color: red;
}

.card-row ul li:first-child>a:hover {
    background-color: #1b182b;
}

.card-2-1-section {
    width: 100%;
    height: 85%;
    /* background-color: #e4dcdd; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card-2 {
    width: 42%;
    height: 90%;
    background-color: #222427;
}

.card2-image {
    width: 100%;
    height: 55%;

}

.card-2 img {
    height: 100%;
    width: 100%;
}

.card-2-content {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.card-2-content h2 {
    font-size: 2rem;
    color: white;
    padding: 0rem 0.5rem;
}

.card-2-btn {
    padding: 0rem 3rem 1rem 2rem;
    display: flex;

    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

}

.card-2-btn button:first-child {
    padding: 0.8rem 1.2rem;
    font-size: 1.1rem;
    background-color: #3b3b79;
    color: white;
    border: none;
    transition: background-color 0.50s ease-in-out;

}

.card-2-btn button:last-child {
    padding: 0.8rem 2rem;
    font-size: 1.1rem;
    background-color: #3b3b79;
    color: white;
    border: none;
    transition: background-color 0.50s ease-in-out;

}

.card-2-btn button:hover {
    background-color: black;
}

.card-3 {
    width: 40%;
    height: 80%;
    background-color: aquamarine;
}


.wraper {
    width: 100%;
    height: 90vh;
    /* background-color: #909090; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.wraper-row {
    /* background-color: #504f4f; */
    width: 80%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.wraper-card {
    width: 30%;
    height: 48%;
    color: #3b3b79;

    background-color: white;
    /* background-color: #3b3b79; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    box-shadow: 2px 2px 8px rgb(148, 148, 148);
    transition: background-color 0.50s ease-out;
}

.wraper-card:hover {
    background-color: #3b3b79;

    color: white;
}

.wraper-card i {
    font-size: 3rem;
}

.wraper-card h2 {
    font-size: 2.3rem;
}

.wraper-card p {
    font-size: 1.1rem;
}

#two {
    background-color: #3b3b79;
    color: white;
}

#piller-heading {
    padding: 0.5rem 0rem;
    color: black;
}

#piller-btn {
    padding: 0.2rem 1.4rem;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgb(55, 55, 55);
    color: red;
    font-size: 1.2rem;

}









































































/* FOOTER CONTAINER FLEXBOX */
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 6rem;
    background-color: #1b182b;
    color: white;
}

/* INDIVIDUAL COLUMNS */
.footer-col {
    flex: 1 1 250px;
}

/* LOGO */
.footer-logo {
    width: 220px;
    margin-bottom: 1rem;
}

/* ABOUT TEXT */
.about-text {
    color: #dcdcdc;
    line-height: 1.6;
    max-width: 300px;
}

/* SOCIAL ICONS */
.social-icons a {
    display: inline-block;
    margin-right: 10px;
    padding: 12px;
    border-radius: 50%;
    background: #1e223d;
    color: #fff;
    font-size: 1rem;
    transition: .3s;
}

.social-icons a:hover {
    background: #2d3459;
}

/* LIST HEADINGS */
.footer-col h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

/* LIST TEXT */
.footer-col ul li {
    list-style: none;
    margin-bottom: 0.5rem;
    color: #dcdcdc;
    cursor: pointer;
    transition: .2s;
}

.footer-col ul li:hover {
    color: #fff;
}

/* CONTACT ICONS */
.contact-list i {
    margin-right: 10px;
    color: #26a5ff;
}

/* ADDRESS ICON + TEXT */
.address {
    margin-top: 1.2rem;
    line-height: 1.6;
    color: #dcdcdc;
}

.address i {
    color: #ff4f4f;
    margin-right: 8px;
}